h3 {
     color: white;
}

h1 {
     color: White;
}

#navbar {
	position: top;
	top:10px;
	left:50%;
	margin-left:254px;
}

#header {
	position: relative;
	top: 10px;
	background-color: #3c4543;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

li {
    float: left;
    display: inline;
	border: 2px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	color: #ffffff;
	padding: 5px;
	border-radius: 15px 15px;
	background-color: #cc0323
}

a:hover {
    display: block;
    width: 100px;
    color: yellow;
}

ul {
    list-style-type: none;
    margin: 2;
    padding: 50px;
}

p {
